<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pmc</title>
    <link rel="stylesheet" href="static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Pmc`</a>

        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#" class="">About</a>
            <a href="#" class="">Proffesional</a>
            <a href="#" class="">Portfolio</a>
            <a href="#" class="">Contact</a>
        </nav>
    </header>
    <section class="home">
        <div class="home-content">
            <h1>Hi. I am Paul Muchiri</h1>
            <h3>Devops Engineer</h3>
            <p>Highly skilled and dynamic Mathematics and computer Science graduate with a comprehensive background in system administration and Devops engineering and Database Administration.
                Known for excellent problem-solving abilities and a forward-thinking approach. 

                I'm now looking to leverage my skills in a challenging and progressive Devops Role.

            </p>
                <div class="btn-box">
                    <a href="#" class="">Hire Me</a>
                    <a href="#">Let's Talk</a>
                </div>
        </div>
        <div class="home-social">
            <a href="#" class=""><i class='bx bxl-twitter'></i></a>
            <a href="#" class=""><i class='bx bxl-instagram' ></i></a>
            <a href="#" class=""><i class='bx bxl-linkedin' ></i></a>
        </div>
       <!-- <a href="#" class="btn">Download CV</a>
         <div class="home-img">
            <img src="" alt="Pmc">
        </div> -->
        <span class="home-imghover"></span>
    </section>
</body>
</html>